{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="offset-md-2 h4">Укажите данные для входа</div>
    </div>
    <form method="post">
        {% csrf_token %}
        {# {{form.as_p}} #}
        {% for field in form %}
            <div class="row justify-content-start h5 my-3">
                <div class="col-2 text-muted text-end">
                  {{field.label_tag}}
                </div>
                <div class="col-7">
                  {{field}}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="offset-md-2">
                 <button class="btn btn-outline-success" type="submit">Войти</button>
            </div>
        </div>
    </form>
{% endblock %}
