{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-md-1 h4">Информация о книге</div>
    </div>

    {% include 'detail_block.html' with label='Название' data=object.name %}

    {% include 'detail_block.html' with label='Автор' data=object.author %}

    {% include 'detail_block.html' with label='Жанр' data=object.category.name %}

    {% include 'detail_block.html' with label='ISBN' data=object.isbn %}

    {% include 'detail_block.html' with label='Издательство' data=object.publisher %}

    {% include 'detail_block.html' with label='Год издания' data=object.year %}

    {% include 'detail_block.html' with label='Место хранения' data=object.place %}

     {% if object.details != "" %}
        {% include 'detail_block.html' with label='Примечание' data=object.details %}
    {% endif %}

    {% if object.onhand  %}
        {% include 'detail_block.html' with label='Сейчас' data='На руках'%}
    {% else %}
         {% include 'detail_block.html' with label='Сейчас' data='В библиотеке'%}
    {% endif %}

    {% include 'detail_block.html' with label='Номер' data=object.pk %}

    {% if user.is_authenticated %}
        <div class="row justify-content-start my-4">
            <div class="col-2 text-end">
              <a class="btn btn-outline-danger" href="{% url 'book_delete' pk=object.pk %}">Удалить</a>
            </div>
            <div class="col-7">
                <span>
                    <a class="btn btn-outline-dark" href="{% url 'book_update' pk=object.pk %}">Изменить</a>
                    <a class="btn btn-outline-primary ms-3" href="{% url 'books' %}">Назад</a>
                </span>
            </div>
        </div>
    {% endif %}

{% endblock %}
