{% extends 'base.html' %}

{% block body %}
    <h3 class="mb-4 ms-5 ps-5">Информация о читателе</h3>

    {% include 'detail_block.html' with label='Имя' data=object.name %}

    {% include 'detail_block.html' with label='Адрес' data=object.address %}

    {% include 'detail_block.html' with label='Телефон' data=object.phone %}

    {% include 'detail_block.html' with label='Номер' data=object.pk %}

    <div class="row justify-content-start my-4">
        <div class="col-2 text-end">
          <a class="btn btn-outline-danger btn-lg" href="{% url 'reader_delete' pk=object.pk %}">Удалить</a>
        </div>
        <div class="col-7">
            <span>
                <a class="btn btn-outline-dark btn-lg" href="{% url 'reader_update' pk=object.pk %}">Изменить</a>
                <a class="btn btn-outline-primary ms-3 btn-lg" href="{% url 'readers' %}">Назад</a>
            </span>
        </div>
    </div>

{% endblock %}
