{% extends 'base.html' %}

{% block body %}
    <form class="d-flex my-3 me-5" role="search" action="{% url 'readers' %}" method="get">
        <input class="form-control me-2" name="q" type="search" placeholder="Поиск по имени..." aria-label="Поиск" value="{{q|default_if_none:""}}">
        <button class="btn btn-outline-success" type="submit">Искать</button>
         {% if q is not None %}
            <a class="btn btn-outline-secondary ms-2" href="{% url 'readers' %}">Сброс</a>
        {% endif %}
    </form>
    <h2>Список читателей</h2>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Имя</th>
          <th scope="col">Адрес</th>
          <th scope="col">Телефон</th>
          <th scope="col">Инфо</th>
        </tr>
      </thead>
      <tbody>

        {% for reader in object_list %}

                <tr>
                    <th scope="row">{{reader.id}}</th>
                    <td>{{reader.name}}</td>
                    <td>{{reader.address}}</td>
                    <td>{{reader.phone}}</td>
                    <td>
                        <a  href="{% url 'reader' pk=reader.pk %}">
                            {% include 'info_icon.html' %}
                        </a>
                    </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'reader_create' %}">Добавить читателя</a>
{% endblock %}
